body{
  background-color:antiquewhite;
}

h1 {
  text-align: center;
  font-size: 3rem;
  line-height: 1;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  display: grid;
  grid-gap: 1px;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  padding: 0.1em;
  border: 1px solid #ddd;
  text-align: center;
}

.permahover {
  padding: 0.1em;
  border: 1px solid #ddd;
  text-align: center;
  background-color: blueviolet;
}

button {
  padding: 1em;
  background-color:darkmagenta;
  border: 1px solid blue;
  text-align: center;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  
  
}
button:hover {
  border: 1px double gray;
  background-color:magenta;
}